# Ignore node_modules completely
frontend/node_modules/

# Ignore large next-swc binaries explicitly (if you want)
frontend/node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
frontend/node_modules/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node

# General OS files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]

# Environment variables file